# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# pyenv
.python-version

# dotenv
.env
local.env
prod.env

# virtualenv

venv/
# serverless
.serverless/
.requirements/

node_modules/

.idea/
__pycache__
