# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# pyenv
.python-version

# dotenv
.env
.env.local
.env.prod

# virtualenv

venv/
# serverless
.serverless/
.requirements/

node_modules/

.idea/
__pycache__
